body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProductList {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.ProductList h1 {
  text-align: center;
  margin: 20px auto;
  border-bottom: 2px solid black;
}

.product-container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.category-title-container {
  padding: 0 30px;
}

.product-card {
  margin: 10px 20px;
}

.product-card-content p {
  padding: 0 10px;
}

.product-card-content h4 {
  padding: 0 10px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.delete-product-container{
  display: flex;
  justify-content: center;  
}
.delete-product-order{
  background-color: aliceblue;
  font-size: 16px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  
}
.delete-order-container{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}
.delete-order{
  color: white;
  font-size: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
}